/* Importação da fonte Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@500;600&family=Itim&family=Kalam:wght@300;400;700&family=Lobster&family=Oxanium:wght@200;400&display=swap');

/* Reset padrão para o box-sizing */
* {
    box-sizing: border-box;
}

/* Estilos para o body */
body {
    background-color: #000000; /* Cor de fundo preta */
    margin: 0; /* Removendo margens padrão */
    font-family: 'Golos Text', sans-serif; /* Definição da fonte */
}

/* Estilos para a classe .fundo1 */
.fundo1 {
    background-image: url(../img/fundo-de-tecnologia-de-onda-fractal-abstrato-azul_1017-15837.avif); /* Imagem de fundo */
    background-repeat: no-repeat; /* Não repetir a imagem */
    background-size: 100%; /* Tamanho da imagem */
    background-position: center center; /* Posição da imagem */
}

/* Estilos para a barra de navegação */
.navbar {
    display: flex; /* Exibição flexível para alinhar itens */
    flex-flow: row wrap; /* Layout de linha com quebra de linha */
    height: 100px; /* Altura da barra de navegação */
    background: rgb(0, 0, 0); /* Cor de fundo preta */
    justify-content: center; /* Alinhamento central horizontal */
    align-items: center; /* Alinhamento central vertical */
    position: fixed; /* Fixar a barra de navegação na parte superior */
    width: 100%; /* Largura total */
}

/* Estilos para o logotipo */
.logo {
    flex: 23%; /* Espaço flexível para o logotipo */
    text-align: right; /* Alinhamento à direita */
}

/* Estilos para o título do logotipo */
.logo h1 {
    font-family: 'Golos Text', sans-serif; /* Fonte */
    color: #f8f7fd; /* Cor do texto */
    font-size: 34px; /* Tamanho da fonte */
}

/* Estilos para o menu de navegação */
.menu {
    flex: 71%; /* Espaço flexível para o menu */
    text-align: right; /* Alinhamento à direita */
    padding: 20px; /* Espaçamento interno */
}

/* Estilos para os links do menu */
.menu a {
    color: #f8f8fa; /* Cor do texto */
    text-decoration: none; /* Remover decoração de link */
    font-size: 20px; /* Tamanho da fonte */
    padding: 20px 16px; /* Espaçamento interno */
}

/* Estilos para os links do menu ao passar o mouse */
.menu a:hover {
    color: rgb(15, 249, 254); /* Cor do texto ao passar o mouse */
    border-top: 4px solid rgb(15, 249, 254); /* Adicionando borda superior */
}

/* Estilos para o botão */
#botao {
    background-color: rgb(15, 249, 254); /* Cor de fundo */
    padding: 10px 25px; /* Espaçamento interno */
    color: rgb(0, 0, 0); /* Cor do texto */
    border-radius: 5px; /* Raio da borda */
    margin-right: 10%; /* Margem direita */
    margin-left: 5%; /* Margem esquerda */
}

/* Estilos para o botão ao passar o mouse */
#botao:hover {
    border: none; /* Remover borda ao passar o mouse */
    background-color: white; /* Cor de fundo ao passar o mouse */
    color: black; /* Cor do texto ao passar o mouse */
}

/* Estilos para o cabeçalho */
.header {
    display: flex; /* Exibição flexível para alinhar itens */
    flex-flow: row wrap; /* Layout de linha com quebra de linha */
    justify-content: center; /* Alinhamento central horizontal */
    align-items: center; /* Alinhamento central vertical */
    background: #282825; /* Cor de fundo */
    padding-top: 100px; /* Espaçamento superior */
    background-image: url(../img/3d-abstrato-com-conexoes-de-rede-baixo-poli-design-de-plexo.jpg); /* Imagem de fundo */
    background-repeat: no-repeat; /* Não repetir a imagem */
    background-size: 100%; /* Tamanho da imagem */
    height: 80vh; /* Altura do cabeçalho */
    background-position: center center; /* Posição da imagem */
}

/* Estilos para o título do cabeçalho */
.headline {
    margin-left: 10%; /* Margem esquerda */
    flex: 40%; /* Espaço flexível */
}

/* Estilos para o subtítulo do cabeçalho */
.headline h2 {
    font-weight: 900; /* Peso da fonte */
    font-size: 20px; /* Tamanho da fonte */
    color: #8f512b; /* Cor do texto */
    padding: 0; /* Padding */
    margin: 0; /* Margem */
}

/* Estilos para o parágrafo do cabeçalho */
.headline p {
    color: rgb(255, 255, 255); /* Cor do texto */
    text-align: left; /* Alinhamento à esquerda */
}

/* Estilos para o botão de contato */
.contact-btn {
    display: inline-block; /* Exibição em linha com bloco */
    background-color: rgb(15, 249, 254); /* Cor de fundo */
    padding: 20px; /* Espaçamento interno */
    color: rgb(0, 0, 0); /* Cor do texto */
    text-transform: uppercase; /* Transformar texto em maiúsculas */
    border-radius: 5px; /* Raio da borda */
    text-decoration: none; /* Remover decoração de link */
}

/* Estilos para o botão de contato ao passar o mouse */
.contact-btn:hover {
    background: rgb(255, 255, 255); /* Cor de fundo ao passar o mouse */
    color: black; /* Cor do texto ao passar o mouse */
}

/* Estilos para o subtítulo do cabeçalho */
.headline h2 {
    color: rgb(255, 255, 255); /* Cor do texto */
    text-align: left; /* Alinhamento à esquerda */
}

/* Estilos para a imagem do cabeçalho */
.img-headline {
    border-radius: 50%; /* Raio da borda */
    margin-right: 10%; /* Margem direita */
    flex: 40%; /* Espaço flexível */
    text-align: center; /* Alinhamento central */
}

/* Estilos para a seção */
section {
    display: inline-block; /* Exibição em bloco em linha */
    margin-top: 0; /* Margem superior */
    margin-left: 0; /* Margem esquerda */
    margin-right: 0; /* Margem direita */
    padding: 5%; /* Espaçamento interno */
    text-align: center; /* Alinhamento central */
    background-color: #000000; /* Cor de fundo */
}

/* Estilos para o título da seção */
section h2 {
    width: 100%; /* Largura total */
    font-size: 50px; /* Tamanho da fonte */
    margin: 0; /* Margem */
    font-family: 'Golos Text', sans-serif; /* Fonte */
    font-weight: bold; /* Peso da fonte */
    color: #ffffff; /* Cor do texto */
}

/* Estilos para os serviços */
.servicos {
    display: flex; /* Exibição flexível */
    justify-content: center; /* Alinhamento central horizontal */
    flex-wrap: wrap; /* Quebra de linha */
    gap: 20px; /* Espaço entre os elementos */
    margin-top: 5%; /* Margem superior */
}

/* Estilos para o card */
.card {
    flex: 1; /* Crescimento flexível */
    max-width: calc(25% - 20px); /* Largura máxima */
    font-size: 14px; /* Tamanho da fonte */
    color: rgb(15, 249, 254); /* Cor do texto */
    text-align: center; /* Alinhamento central */
    padding: 5%; /* Espaçamento interno */
    margin: 1%; /* Margem */
    border: 1px solid rgb(15, 249, 254); /* Borda */
    border-radius: 10px; /* Raio da borda */
    cursor: pointer; /* Cursor ao passar o mouse */
}

/* Estilos para o card ao passar o mouse */
.card:hover {
    background: #ffffff; /* Cor de fundo ao passar o mouse */
    color: rgb(0, 0, 0); /* Cor do texto ao passar o mouse */
}

/* Estilos para o texto oculto */
.texto-oculto {
    display: none; /* Ocultar elemento */
}

/* Estilos para o parágrafo do card */
.card p {
    color: rgb(15, 249, 254); /* Cor do texto */
    text-align: center; /* Alinhamento central */
    font-size: 15px; /* Tamanho da fonte */
}

/* Estilos para o rodapé */
footer {
    margin-top: 0; /* Margem superior */
    height: 400px; /* Altura */
    background-image: linear-gradient(180deg, black, rgb(8, 0, 83), rgb(15, 249, 254)); /* Gradiente linear */
    text-align: center; /* Alinhamento central */
    border-top: 5px solid #000000; /* Borda superior */
}

/* Estilos para o logotipo no rodapé */
.logo-rodape {
    padding: 100px; /* Espaçamento interno */
}

/* Estilos para a agência no rodapé */
.agencia {
    font-family: 'Golos Text', sans-serif; /* Fonte */
    color: white; /* Cor do texto */
    font-size: 34px; /* Tamanho da fonte */
}

/* Estilos para o ícone do WhatsApp */
.whats {
    position: fixed; /* Posição fixa */
    bottom: 5px; /* Distância inferior */
    right: 5px; /* Distância direita */
}

/* Estilos para o ícone do LinkedIn */
.linkedin {
    position: fixed; /* Posição fixa */
    bottom: 75px; /* Distância inferior */
    right: 5px; /* Distância direita */
}

/* Estilos para o ícone do GitHub */
.github {
    position: fixed; /* Posição fixa */
    bottom: 145px; /* Distância inferior */
    right: 5px; /* Distância direita */
}

/* Estilos para o container */
.container {
    height: 100%; /* Altura total */
    display: flex; /* Exibição flexível */
    flex-direction: row; /* Direção da flexão */
    justify-content: center; /* Alinhamento central horizontal */
    align-items: center; /* Alinhamento central vertical */
    text-align: center; /* Alinhamento central */
    background-color: black; /* Cor de fundo */
}

/* Estilos para o filho */
.child {
    width: 20%; /* Largura */
    height: 200px; /* Altura */
    background-color: rgb(0, 0, 0); /* Cor de fundo */
    border: 1px solid white; /* Borda */
    text-align: center; /* Alinhamento central */
    margin: 5px; /* Margem */
    border: 1px solid rgb(15, 249, 254); /* Borda */
    border-radius: 10px; /* Raio da borda */
}

/* Estilos para o cabeçalho do projeto */
.project_header {
    margin-left: 5%; /* Margem esquerda */
    margin-right: 5%; /* Margem direita */
    flex: 40%; /* Espaço flexível */
    border: 1px solid rgb(0, 0, 0); /* Borda */
    background-color: #000000; /* Cor de fundo */
}

/* Estilos para o parágrafo do cabeçalho do projeto */
.project_header p {
    color: #ffffff; /* Cor do texto */
    text-align: center; /* Alinhamento central */
}

/* Estilos para o título do cabeçalho do projeto */
.project_header h2 {
    font-weight: 900; /* Peso da fonte */
    font-size: 20px; /* Tamanho da fonte */
    color: #ffffff; /* Cor do texto */
    padding: 0; /* Padding */
    margin: 0; /* Margem */
}

/* Estilos para o subtítulo do cabeçalho do projeto */
.project_headline {}

/* Estilos para o título do cabeçalho do projeto */
.project_headline h2 {
    color: #ffffff; /* Cor do texto */
    text-align: center; /* Alinhamento central */
}

/* Estilos para o slider */
.slider {
    margin: 0 auto; /* Margem automática */
    width: 800px; /* Largura */
    height: 400px; /* Altura */
    overflow: hidden; /* Ocultar conteúdo overflow */
    display: inline-block; /* Exibição em bloco em linha */
}

/* Estilos para os slides */
.slides {
    width: 400%; /* Largura */
    height: 400px; /* Altura */
    display: flex; /* Exibição flexível */
}

/* Estilos para os inputs dos slides */
.slides input {
    display: none; /* Ocultar inputs */
}

/* Estilos para o slide */
.slide {
    background: #000000; /* Cor de fundo */
    width: 25%; /* Largura */
    position: static; /* Posição estática */
    transition: 2s; /* Transição */
}

/* Estilos para as imagens dos slides */
.slide img {
    width: 800px; /* Largura */
    height: 500px; /* Altura */
}

/* Estilos para a navegação manual */
.manual-navigation {
    position: absolute; /* Posição absoluta */
    width: 800px; /* Largura */
    margin-top: -40px; /* Margem superior negativa */
    display: flex; /* Exibição flexível */
    justify-content: center; /* Alinhamento central horizontal */
}

/* Estilos para os botões de navegação manual */
.manual-btn {
    border: 2px solid white; /* Borda */
    padding: 5px; /* Espaçamento interno */
    border-radius: 10px; /* Raio da borda */
    cursor: pointer; /* Cursor */
    transition: 1s; /* Transição */
}

/* Estilos para os botões de navegação manual exceto o último */
.manual-btn:not(:last-child) {
    margin-right: 40px; /* Margem direita */
}

/* Estilos para os botões de navegação manual ao passar o mouse */
.manual-btn:hover {
    background-color: white; /* Cor de fundo ao passar o mouse */
}

/* Estilos para o primeiro slide */
#radio1:checked~.first {
    margin-left: 0%; /* Margem esquerda */
}

/* Estilos para o segundo slide */
#radio2:checked~.first {
    margin-left: -25%; /* Margem esquerda */
}

/* Estilos para o terceiro slide */
#radio3:checked~.first {
    margin-left: -50%; /* Margem esquerda */
}

/* Estilos para o quarto slide */
#radio4:checked~.first {
    margin-left: -75%; /* Margem esquerda */
}

/* Estilos para a navegação automática */
.navigation-auto div {
    border: 2px solid blue; /* Borda */
    padding: 5px; /* Espaçamento interno */
    border-radius: 10px; /* Raio da borda */
    cursor: pointer; /* Cursor */
    transition: 3s; /* Transição */
}

/* Estilos para a navegação automática */
.navigation-auto {
    position: absolute; /* Posição absoluta */
    width: 800px; /* Largura */
    margin-top: 360px; /* Margem superior */
    display: flex; /* Exibição flexível */
    justify-content: center; /* Alinhamento central horizontal */
}

/* Estilos para os botões de navegação automática exceto o último */
.navigation-auto div:not(:last-child) {
    margin-right: 40px; /* Margem direita */
}

/* Estilos para o primeiro botão de navegação automática */
#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: white; /* Cor de fundo */
}

/* Estilos para o segundo botão de navegação automática */
#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: white; /* Cor de fundo */
}

/* Estilos para o terceiro botão de navegação automática */
#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: white; /* Cor de fundo */
}

/* Estilos para o quarto botão de navegação automática */
#radio4:checked~.navigation-auto .auto-btn4 {
    background-color: white; /* Cor de fundo */
}

/* Estilos para a foto do Pokémon */
.pokefoto {
    display: inline-block; /* Exibição em bloco em linha */
    height: 25%; /* Altura */
}

/* Estilos para a imagem do Pokémon */
.pokefoto img {
    display: flex; /* Exibição flexível */
    height: 160px; /* Altura */
}

/* Estilos para a agência de pa */
.agenciapa {
    display: inline-block; /* Exibição em bloco em linha */
    height: 25%; /* Altura */
}

/* Estilos para a imagem da agência de pa */
.agenciapa img {
    display: flex; /* Exibição flexível */
    height: 160px; /* Altura */
    display: inline-block; /* Exibição em bloco em linha */
}
