@import url('https://fonts.googleapis.com/css2?family=Itim&family=Kalam:wght@300;400;700&family=Lobster&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Kalam', cursive;
}
.navbar{
     /*barra do cabeçalho*/
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background:rgb(22,24,22);
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}
.logo{
    flex: 23%;
     /* border: 1px solid red; ,, */
    text-align: right;
}

.logo h1{
    /* logo:Matheus Patricio  */
    font-family: 'Lobster', cursive;
    color: #f8f7fd;
    font-size: 34px;
    /* margin-left: 10%; */
}
.menu{
    flex: 71%;
    /* border: 1px solid green;  */
    text-align: right;
    padding: 20px;
}

.menu a{
    /* menu> home etc...*/
    color: #f8f8fa;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;  
}
.menu a:hover{
    color: #8f512b;
    border-top: 4px solid #180f4a;
}
#botao{
    background-color: #3e4242;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}
#botao:hover{
    border: none;
    background-color: white;
    color: black;

}
.header{
     /* div que comtempla a foto principal e os textos ao lado ( primeiro ctt do cliente)*/
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background:#282825;
    padding-top: 100px;
}
.headline{
    margin-left: 10%;
    flex: 40%;
    /* border: 1px solid black;  */
}
.headline h2{
    font-weight: 900;
    font-size: 20px;
    color: #8f512b;
    padding: 0; 
    margin: 0;
}

.headline p{
    /* cor paragrafo P */
    color: #8f512b;
    text-align: left;
}

.contact-btn{
     display: inline-block;
    background-color: #3e4242;
    padding: 20px;
    color:white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;

}
.contact-btn:hover{
    background:white;
    color:black;
}

.headline h2{
    /* Matheus P gigante  */
    color:#774322;
    text-align: left;
}
.img-headline{
    margin-right: 10%;
    flex: 40%;
    /* border: 1px solid pink;  */
    text-align: center;
}

section{
    display:inline-block;
    margin-top: 0;
    /* border: 1px solid black; */
    margin-left: 0;
    margin-right: 0;
    padding: 5%;
    text-align: center;
     /* width: 90%;  */
     /* color da div debaixo*/
     background-color: #3e4242;
}

section h2{
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color: #ffffff;
}
 .servicos{
    display: inline-block;
    margin-top: 5%;
 }
 .card{
    display:inline-block;
    font-size: 16px;
    color: black;
    text-align: center;
    width: 30%;
    padding: 5%;
    margin: 1%;
    border:  1px solid black;
    border-radius: 10px;
    cursor: pointer;
 }

 .texto-oculto{
    display:none;
 }
 
 .card p{
    color: black;
    text-align: center;
    font-size: 12px;
 
 }
 .card:hover{
    background: #ffffff;
    color: rgb(0, 0, 0);
    padding: 70px;
 }

 .card:hover img{
    display: none;
 }

 .card:hover .class-text{
    display: none;
 }
 .card:hover .texto-oculto{
    display: block;
 }
 footer{
    margin-top: 0;
    height: 400px;
    background-image: linear-gradient(180deg,#ffffff, rgb(31, 30, 30), black);
    text-align: center;
    border-top: 5px solid #000000;
 }
 .logo-rodape{
    padding: 100px;
 }

 .agencia{
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 34px;
 }
 .whats{
    position: fixed;
    bottom: 5px;
    right: 5px;
 

 }
